
table.mytable {
    min-width: 400px;
    border-collapse: collapse;
}

table.mytable > thead > tr {
    background-color: #777;
}

table.mytable td {
    border: 1px solid black;
}

form div.input-holder {
    margin-bottom: 10px;
}
